<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza Di Mama</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Rochester|Yesteryear&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <header>
        <nav id="nav-scroll">
            <h2 class="logo">Pizza Di Mama</h2>
            <ul class="nav-menu">
                <a id="scroll-top-s" href="#"><li class="nav-menu-active">Welcome</li></a>
                <a id="scroll-menu-s" href="#"><li>Menu</li></a>
                <a id="scroll-discover-s" href="#"><li>Restaurant</li></a>
                <a id="scroll-order-s" href="#"><li >Order Now</li></a>
                <a id="scroll-footer-s" href="#"><li>Find us</li></a>
            </ul>
        </nav>
        <nav id="nav-mainSection">
            <h2 class="logo">Pizza Di Mama</h2>
            <ul class="nav-menu">
                <a id="scroll-top" href="#"><li class="nav-menu-active">Welcome</li></a>
                <a id="scroll-discover" href="#"><li>Restaurant</li></a>
                <a id="scroll-menu" href="#"><li>Menu</li></a>
                <a id="scroll-order" href="#"><li >Order Now</li></a>
                <a id="scroll-footer" href="#"><li>Find us</li></a>
            </ul>
        </nav>
        <h2 class="header-title1">Welcome</h2>
        <h1 class="header-title2">THE TRUE FLAVOUR OF ITALY</h1>
        <a id="btn-to-order" class="header-cta-button" href="#">BOOK TABLE</a>
    </header>
    <!----------------------------- DISCOVER SECTION  --------------------->
    <div id="discoverSection" class="discover-section">
        <div class="food-item food-border">
            <div class="food-overlay">
                <h1 class="discover-h1">Discover</h1>
                <h2 class="discover-h2">OUR STORY</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eum itaque perspiciatis, asperiores officiis maxime voluptatum sint nisi sapiente nemo in minus quod quae, harum doloremque iste quas nulla eligendi?</p>
            </div>
        </div>
        <div class="food-item food-1"></div>
        <div class="food-item food-2"></div>
    </div>
    <!----------------------------- SPECIALITIES SECTION  --------------------->
    <div id="specialitiesSection" class="specialities-section">
        <div class="specialities-middle">
            <h1 class="specialities-h1">Specialities</h1>
            <h2 class="specialities-h2">OUR SERVICES</h2>
            <div class="specialities-row">
                <div class="specialities-col">
                    <a id="book-table" href="#specialitiesSection">
                        <div class="specialities-image1">
                            <div class="specialities-overlay">
                                <div class="specialities-overlay-border">
                                    BOOK A TABLE
                                </div>
                            </div>
                        </div>
                    </a>
                    <h3 class="specialities-h3">RESTAURANT</h3>
                </div>
                <div class="specialities-col">
                    <a id="take-away"href="#specialitiesSection">
                        <div class="specialities-image2">
                            <div class="specialities-overlay">
                                <div class="specialities-overlay-border">
                                    ORDER
                                </div>
                            </div>
                        </div>
                    </a>
                    <h3 class="specialities-h3">TAKE AWAY</h3>
                </div>
                <div class="specialities-col">
                    <a id="order" href="#specialitiesSection">
                        <div class="specialities-image3">
                            <div class="specialities-overlay">
                                <div class="specialities-overlay-border">
                                    ORDER
                                </div>
                            </div>
                        </div>
                    </a>
                    <h3 class="specialities-h3">ORDER</h3>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------- MENU SECTION  --------------------->
    <div id="menuSection" class="menu-section">
        <h1 class="menu-h1">Pizzas</h1>
        <h2 class="menu-h2">Our Menu</h2>
        <div class="menu-row">
            <div class="menu-col">
                <% for(var i=0; i < items.length/2; i++){ %> 
                    <div class="food-container">
                        <h1 class="food-title"><%= items[i].name%></h1>
                        <span class="food-price"><%= items[i].price%>€</span>
                        <h3 class="food-ingredients"><%= items[i].ingredients%></h3>
                    </div>
                <%}%>
                <!-- <div class="food-container">
                    <h1 class="food-title">Margarita</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Mozarella, Basil and Tomato Sauce</h3>
                </div>
                <div class="food-container">
                    <h1 class="food-title">Peperoni</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Peperoni, Mozarella, Basil and Tomato Sauce</h3>
                </div>
                <div class="food-container">
                    <h1 class="food-title">4 Cheeses</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Mozzarela, Feta, Ricotta, Parmesan </h3>
                </div>
                <div class="food-container">
                    <h1 class="food-title">Sfincione </h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Anchovies, Caciocavallo, Breadcrumbs and Tomato Sauce</h3>
                </div> -->
            </div>
            <div class="menu-col">
                    <% for(var i=items.length/2; i < items.length; i++){ %>
                        <div class="food-container">
                            <h1 class="food-title"><%= items[i].name%></h1>
                            <span class="food-price"><%= items[i].price%>€</span>
                            <h3 class="food-ingredients"><%= items[i].ingredients%></h3>
                        </div>
                    <%}%>
                <!-- <div class="food-container">
                    <h1 class="food-title">Quattro stagioni</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Artichokes, Olives, Peppers, Mozzarella, Tomatoes, Eggs, Mushrooms</h3>
                </div>
                <div class="food-container">
                    <h1 class="food-title">Fungi</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Sausage, Mushrooms and Mozzarella</h3>
                </div>
                <div class="food-container">
                    <h1 class="food-title">Capricciosa</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Olives, Artichoke Hearts, Egg, Prosciutto and Mushrooms.</h3>
                </div>
                <div class="food-container">
                    <h1 class="food-title">Calzone</h1>
                    <span class="food-price">15€</span>
                    <h3 class="food-ingredients">Mozzarella, Spinach and Egg</h3>
                </div> -->
            </div>
        </div>
    </div>
<!----------------------------- ORDER SECTION  --------------------->
<div id="orderSection" class="order-section">
    <h1 class="order-section-h1">Reservations</h1>
    <h2 class="order-section-h2">ORDER YOUR FOOD</h2>
    <div class="tab-container">
        <div class="TabControl">
            <div id="header">
                <ul class="abas">
                    <li>
                        <div id="aba-0" class="aba">
                            <span>BOOK A TABLE</span>
                        </div>
                    </li>
                    <li>
                        <div id="aba-1" class="aba">
                            <span>TAKE AWAY</span>
                        </div>
                    </li>
                    <li>
                        <div id="aba-2" class="aba">
                            <span>ORDER FOOD</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="content">
                <div class="conteudo">
                    <form action="/reservations" method="POST">
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Full Name</label>
                            <input name="name" type="text" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Email</label>
                            <input name="email" type="email" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="form-group form-book-table">
                            <label for="date">Reservation Date</label>
                            <input name="date" type="datetime-local">
                            </select>
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlSelect2">Nº of People</label>
                            <input name="numberPeople" type="number">
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlTextarea1">Considerations</label>
                            <textarea name="considerations" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
                <div class="conteudo">
                    <form  id="take-away-form" action="/take-away"  method="POST">
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Full Name</label>
                            <input id="take-name" name="name" type="text" class="form-control" id="exampleFormControlInput1" required >
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Email</label>
                            <input id="take-email" name="email" type="email" class="form-control" id="exampleFormControlInput1" required>
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlSelect2">Order</label>
                            <textarea required readonly id="take-away-order-box" name="order" type="text"></textarea>
                            <select name="" id="take-away-select" class="order-select">
                                <% items.forEach((item) => { %>
                                    <option data-price="<%= item.price%>"><%= item.name%></option>
                                <%})%>
                            </select>
                            <input required class="qtd-order" id="qtd-takeaway-input" type="number" placeholder="Quantity">
                            <button id="take-away-btn" type="button" class="add-order-btn">+</button>
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlTextarea1">Considerations</label>
                            <textarea id="consi-take" name="considerations" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button id="submit-take-away" type="submit" class="btn">Submit</button>
                        <div id="total-price-takeaway" class="total-price"></div>
                    </form>
                </div>
                <div  class="conteudo">
                    <form  action="/order-home" method="POST">
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Full Name</label>
                            <input name="name" type="text" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Address</label>
                            <input name="address" type="text" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlInput1">Email</label>
                            <input name="email" type="email" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlSelect2">Order</label>
                            <textarea readonly id="order-home-order-box" name="order" type="text"></textarea>
                            <select name="" id="order-home-select" class="order-select">
                                <% items.forEach((item) => { %>
                                    <option><%= item.name%></option>
                                <%})%>
                            </select>
                            <input class="qtd-order" id="qtd-home-input" type="number" placeholder="Quantity">
                            <button id="order-home-btn" type="button" class="add-order-btn">+</button>
                        </div>
                        <div class="form-group form-book-table">
                            <label for="exampleFormControlTextarea1">Considerations</label>
                            <textarea name="considerations" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn">Submit</button>
                        <div id="total-price-home" class="total-price"></div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> 
<!----------------------------- FOOTER SECTION  --------------------->
    <footer id="footerSection">
        <div class="footer-row">
            <div class="footer-col">
                <h3 class="footer-title">CONTACT US</h3>
                <p class="footer-text">Ganzites Nedinha Avenue</p>
                <p class="footer-text">234 Build Block</p>
                <p class="footer-text">M1 345</p>
                <p class="footer-text">info@pizzadimama.com</p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">OPENING HOUR</h3>
                <p class="footer-text">Monday - Thursday</p>
                <p class="footer-text">9:00am - 11:00pm</p>
                <p class="footer-text">Friday - Sunday</p>
                <p class="footer-text">10:00am - 11:00pm</p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">FOLLOW US</h3>
                <p class="footer-text">Facebook</p>
                <p class="footer-text">Instagram</p>
                <p class="footer-text">Twitter</p>
                <p class="footer-text">Pinterest</p>
            </div>
            <div class="footer-col">
                
            </div>
        </div>
    </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
$(document).ready(function(){

    ////////////////////////////////ABAS////////////////////////////////////////
     $("#content div:nth-child(1)").show();
     $(".abas li:first div").addClass("selected");       
     $(".aba").click(function(){
         var indice = $(this).parent().index();
         abaSelected(indice);
     });
     
     $(".aba").hover(
            function(){$(this).addClass("ativa")},
         function(){$(this).removeClass("ativa")}
        ); 
     /////////////////////////////////////////////////////////////////////////////

     const isScrolledIntoView = (elem) => {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();
            var elemTop = $(elem).offset().top;
            var elemBottom = elemTop + $(elem).height();
            return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom) && (elemBottom <= docViewBottom) && (elemTop >= docViewTop));
        }

     $( window ).scroll(function() {
        $( "#nav-scroll" ).fadeIn();
        if($(window).scrollTop() === 0) {
            $("#nav-scroll").fadeOut();
        }

        //Discover
        if(isScrolledIntoView($('#discoverSection'))){
            
        }
        //Specialities
        if(isScrolledIntoView($('#specialitiesSection'))){
            
        }
        //Menu
        if(isScrolledIntoView($('#menuSection'))){
            
        }
        //Order
        if(isScrolledIntoView($('#orderSection'))){
            
        }


    });

     ///////////////////////////SCROLLS///////////////////////////////////////////

     $('#scroll-discover-s').click(() => {
        scrollTo('discover');
    });

    $('#scroll-menu-s').click(() => {
        scrollTo('menu');
    });

    $('#scroll-order-s').click(() => {
        scrollTo('order');
    });

    $('#scroll-footer-s').click(() => {
        scrollTo('footer');
    });

    $('#scroll-top-s').click(() => {
        scrollTo('nav-main');
    });
    ////////////////////////////////////////////
    $('#scroll-discover').click(() => {
        scrollTo('discover');
    });

    $('#scroll-menu').click(() => {
        scrollTo('menu');
    });

    $('#scroll-order').click(() => {
        scrollTo('order');
    });

    $('#scroll-footer').click(() => {
        scrollTo('footer');
    });

    $('#scroll-top').click(() => {
        scrollTo('nav-main');
    });

    $("#btn-to-order").click(() => {
        scrollTo('order');
        abaSelected(0);
    });   

    $("#book-table").click(() => {
        scrollTo('order');
        abaSelected(0);
    });

    $("#take-away").click(() => {
        scrollTo('order');
        abaSelected(1);
    });

    $("#order").click(() => {
        scrollTo('order');
        abaSelected(2);
    });

    $("#take-away-btn").click(() => {
        addOrderTakeAway();
    });

    $("#order-home-btn").click(() => {
        addOrderHome();
    });

    //FUNCTION TO SCROLL TO ORDER SECTION
    const scrollTo = (section) => {
        $('html,body').animate({
        scrollTop: $('#'+section+'Section').offset().top},
        'slow')
    };

    //FUNCTION TO SELECT ABA
    const abaSelected = (index) => {
        $(".aba").removeClass("selected");
        $("#aba-"+index).addClass("selected");
        var indice = $("#aba-"+index).parent().index();
        indice++;
        $("#content div").hide();
        $("#content div:nth-child("+indice+")").show();
        $('.form-book-table').css('display','block');
    }

    let takeAwayOrder = [];
    const addOrderTakeAway = () => {
        let pizza =  $('#take-away-select option:selected').val();
        let qtd = $('#qtd-takeaway-input').val();
        let newLine = '';
        let previousVal = $('#take-away-order-box').val();
        let price =  $('#take-away-select option:selected').attr('data-price');
        
        let newOrderItem = {
            name: pizza,
            qtd: qtd,
            price: price
        }

        takeAwayOrder.push(newOrderItem);

        updateTotalPrice('takeaway');
        if(previousVal.length !== 0){
            newLine = '\n'
        }
       
        $('#take-away-order-box').val(previousVal+newLine+pizza+'  x  '+qtd+'|');

    }

    let orderHomeList = [];
    const addOrderHome = () => {
        let pizza =  $('#order-home-select option:selected').val();
        let qtd = $('#qtd-home-input').val();
        let newLine = '';
        let previousVal = $('#order-home-order-box').val();
        let price =  $('#take-away-select option:selected').attr('data-price');

        let newOrderItem = {
            name: pizza,
            qtd: qtd,
            price: price
        }
        
        orderHomeList.push(newOrderItem);

        updateTotalPrice('home');
        if(previousVal.length !== 0){
            newLine = '\n'
        }
       
        $('#order-home-order-box').val(previousVal+newLine+pizza+'  x  '+qtd+'|');

    }

    const updateTotalPrice = (option) => {
        totalPrice = 0;
        takeAwayOrder.forEach((elm) => {
            totalPrice += elm.qtd*elm.price;
        });

        console.log(totalPrice);
        $('#total-price-'+option).html('Total: €'+totalPrice);
        $('#total-price-'+option).show();

    }

 });

 /////////////////////////////////////////////////////////////////////////////
</script>
</body>
</html>