<%- include partials/header.ejs %>
<%- include partials/nav-res.ejs %>

<div class="backoffice-wrapper">
    <div class="title-wrapper">
        <h1 class="reservations-title">Reservations</h1>
    </div>
    <h3 class="reservations-subtitle">Pending</h3>
    <hr>
    <%var x = false; %>
    <% tickets.forEach((ticket) => {%>
        <%if(!ticket.confirmed){%>
            <% x = true; %>
            <div class="card-container">
                <p><span>Name:</span><%- ticket.name -%></p>
                <p><span>Email:</span><%- ticket.email -%></p>
                <p><span>Date:</span><%- ticket.dateFormated -%></p>
                <p><span>Number of People:</span><%- ticket.numberPeople -%></p>
                <p><span>Considerations:</span><%- ticket.considerations -%></p>
                <form action="/update-table-book" method="POST">
                    <div class="buttons-wrapper">
                        <button class="btn-modal btn-modal-confirm">Confirm</button>
                        <button class="btn-modal btn-modal-cancel">Dismiss</button>
                        <input name="id" value="<%- ticket.id %>" type="hidden">
                    </div>
                </form>
            </div>
        <%}%>
    <%})%>
    <% if(!x){%>
        <p style="font-size: 25px;margin-bottom: 25px;">No pending orders</p>
    <%}%>

    <h3 class="reservations-subtitle">Confirmed</h3>
    <hr>

    <% tickets.forEach((ticket) => {%>
        <%if(ticket.confirmed){%>
            <div class="card-container confirmed">
                <p><span>Name:</span><%- ticket.name -%></p>
                <p><span>Email:</span><%- ticket.email -%></p>
                <p><span>Date:</span><%- ticket.dateFormated -%></p>
                <p><span>Number of People:</span><%- ticket.numberPeople -%></p>
                <p><span>Considerations:</span><%- ticket.considerations -%></p>
            </div>
        <%}%>
    <%})%>

</div>
