<%- include partials/header.ejs %>
<%- include partials/nav-res.ejs %>

<div class="backoffice-wrapper">
    <div class="title-wrapper">
        <h1 class="reservations-title">Take- Away</h1>
    </div>
    
    <h3 class="reservations-subtitle">Pending</h3>
    <hr>
    <%var x = false; %>
    <% takeAway.forEach((take) => {%>
        <%if(!take.confirmed){%>
            <% x = true; %>
            <div class="card-container">
                <p><span>Name:</span><%- take.name -%></p>
                <p><span>Email:</span><%- take.email -%></p>
                <p><span>Time:</span><%- take.hours -%></p>
                <p><span>Order:</span></p>
                <% take.order.forEach((order) => {%>
                    <% if(order.name.length > 0) {%>
                        <p><%- order.name -%> x <%- order.qtd -%></h1>
                    <%}%>
                <%})%>
                <p><span>Considerations:</span><%- take.considerations -%></p>
                <form action="/update-takeaway" method="POST">
                    <div class="buttons-wrapper">
                        <button class="btn-modal btn-modal-confirm">Confirm</button>
                        <button class="btn-modal btn-modal-cancel">Dismiss</button>
                        <input name="id" value="<%- take.id %>" type="hidden">
                    </div>
                </form>
            </div>
        <%}%>
    <%})%>
    <% if(!x){%>
        <p style="font-size: 25px;margin-bottom: 25px;">No pending orders</p>
    <%}%>

    <h3 class="reservations-subtitle">Confirmed</h3>
    <hr>

    <% takeAway.forEach((take) => {%>
        <%if(take.confirmed){%>
            <div class="card-container confirmed">
                <p><span>Name:</span><%- take.name -%></p>
                <p><span>Email:</span><%- take.email -%></p>
                <p><span>Time:</span><%- take.hours -%></p>
                <p><span>Order:</span></p>
                <% take.order.forEach((order) => {%>
                    <% if(order.name.length > 0) {%>
                        <p><%- order.name -%> x <%- order.qtd -%></h1>
                    <%}%>
                <%})%>
                <p><span>Considerations:</span><%- take.considerations -%></p>
            </div>
        <%}%>
    <%})%>


</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>

$(document).ready(function(){
    $('.nav-menu li').each((index,element) => {
        $(element).removeClass('nav-menu-active');
        console.log('boas');
    });

    $('#takeaway-link').addClass('nav-menu-active');
    
});
</script>